@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-100;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}
